/*  Buttons  */
.custom_button
{

    -fx-background-color : #FFFFFF;

    -fx-background-radius :  10;

    -fx-text-fill : #00BDFE;

    -fx-font-weight: bold;

    -fx-font-size : 16px;

    -fx-cursor: hand;
}
.custom_button:hover
{

    -fx-background-color : #D4F4FF ;

    -fx-text-fill : #00BDFE;

    -fx-background-radius :  10;

    -fx-font-weight: bold;

    -fx-font-size : 16px;

    -fx-cursor: hand;
}
.custom_button:pressed
{
    -fx-background-color : #FFFFFF ;

    -fx-background-radius :  10;

    -fx-background-radius :  10;

    -fx-font-weight: bold;

    -fx-font-size : 16px;

    -fx-cursor: hand;
}

/*  Background  */
.custom_background
{
    -fx-background-color: linear-gradient(#00BDFE, #87E7FE);
}

/*  Text field  */
.custom_text_field
{
    -fx-background-color : #FFFFFF ;
}

/*  Date Picker  */
.date-picker .text-field {
    -fx-control-inner-background: #FFFFFF ;
}

/*  Table View  */
.custom_table_view
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #00BDFE;
    -fx-font-size: 12px;
}

/*  Table View Column  */
.custom_table_view .column
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #00BDFE;
    -fx-font-size: 12px;
    -fx-padding: 0;
    -fx-padding: 0;
    -fx-font-weight: bold;
}
.custom_table_view *.scroll-bar:horizontal *.increment-button,
.custom_table_view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.custom_table_view *.scroll-bar:horizontal *.increment-arrow,
.custom_table_view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
/*  Table View Header  */
.custom_table_view .column .label
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #00BDFE;
    -fx-font-size: 12px;
    -fx-padding: 0;
    -fx-padding: 0;
    -fx-font-weight: bold;
}

/*  List View  */

.list-view .scroll-bar:horizontal /*  hide horizontal scroll bar  */
{
    -fx-opacity: 0;
    -fx-padding:-7;
}
/*  Message List View
.message_list-view .scroll-bar:horizontal /*  hide horizontal scroll bar
{
    -fx-opacity: 0;
    -fx-padding: -7;
}*/
.message_list-view .scroll-bar:vertical /*  hide horizontal scroll bar  */
{
    -fx-opacity: 0;
    -fx-padding: -7;
}

.text_title_filled {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #00BDFE;
    -fx-font-size: 24px;
    -fx-line-height: 74px;
    -fx-float: center;
    -fx-padding: 0px;
    -fx-margin: 0;
    -fx-font-family: 'verdana';
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.text_title {
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.text_on_background
{
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.text_on_background_small
{
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.text_on_background_big
{
    -fx-font-size: 22px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.text_create_account
{
    -fx-font-size: 18px;
    -fx-text-fill: #D4F4FF;
    -fx-font-weight: bold;

}
.text_create_account:hover
{
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
/*  Messages  */
.message_user
{
    -fx-background-color: #E6F9FF;
    -fx-text-fill: #00BDFE;
    -fx-font-size: 13px;
    -fx-float: right;
    -fx-padding: 5px;
    -fx-margin: 0;
    -fx-font-family: 'verdana';
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}
.message_friend
{
    -fx-background-color: #00BDFE;
    -fx-text-fill: #E6F9FF;
    -fx-font-size: 13px;
    -fx-float: left;
    -fx-padding: 5px;
    -fx-margin: 0;
    -fx-font-family: 'verdana';
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

/*  Events  */

.event_title_text
{
    -fx-text-fill: #00BDFE;
    -fx-font-size: 20px;
    -fx-font-family: "verdana";
    -fx-font-weight: bold;

    -fx-padding: 5px;
    -fx-background-color: #D4F4FF;
    -fx-background-radius: 5;
}

.event_description_text
{
    -fx-font-size: 12px;
    -fx-font-family: "verdana";
    -fx-font-weight: normal;
    -fx-text-fill: #00BDFE;
    -fx-max-width: 360px;
    -fx-wrap-text: true;
}
.event_details_text
{
    -fx-font-size: 11px;
    -fx-font-family: "verdana";
    -fx-font-weight: normal;
    -fx-text-alignment: justify;
    -fx-text-fill: #00BDFE;

    -fx-padding: 5px;
    -fx-background-color: #D4F4FF;
    -fx-background-radius: 5;
}



